<% if !user_signed_in? %>
  <div class="jumbotron">
    <h1>A Loja dos seu filmes favoritos</h1>
    <p>Cadastre e pesquise o seu filme favorito e nos diga o que você acha sobre ele!</p>
    <p><%= link_to "Entre para avaliar", new_user_registration_path, class: "btn btn-danger btn-lg" %></p>
  </div>
<% end %>

<div class="row">
  <% @movies.each do |movie| %>
    <div class="col-sm-6 col-md-3">
      <div class="thumbnail">
        <%= link_to (image_tag movie.image.url(:medium), class: 'image'), movie %>
      </div>
    </div>
  <% end %>
</div>